.main-background {
  background-color: black;
  color: #1C1C1C;
  text-align: center;
  min-height: 100vh;
}

.nav-style {
  background-color: #282828;
  padding: 10px;
}

.header {
  margin: 0; 
  color: #2CFF05;
  font-family: monospace;
  font-weight: lighter;
}

.body-style {
  margin-top: 20px;
  color: #2CFF05;
  font-family: monospace;
}

.input-style {
  background-color: #E6E6E6;
  color: rgb(97, 97, 97);
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 315px;
  text-wrap: wrap;
  height: 100px;
}

.submit-button {
  background: none;
  border: none;
  padding-left: 15px;
  cursor: pointer;
}

.result-header {
  color: #2CFF05;
  font-family: monospace;
  font-weight: lighter;
}

.result-text {
  color: white;
  font-family: monospace;
  text-align: left;
  margin-left: 20px;
}

.spam-text {
  color: red;
  font-family: monospace;
  display: inline;
}

.not-spam-text {
  color: #2CFF05;
  font-family: monospace;
  display: inline;
}

.result-box {
  width: 300px;
  margin: auto;
}