.main-background {
  background-color: black;
  color: #1C1C1C;
  text-align: center;
  min-height: 110vh;
}

.nav-style {
  background-color: #282828;
  padding: 10px;
  display: flex;
  align-items: center;
}

.info-icon {
  color: white;
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.info-box {
  display: none;
  width: 300px;
  height: 335px;
  position: absolute;
  right: 20px;
  text-align: left;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px
}

.info-box-text {
  font-family: monospace;
  font-size: 16px;
}

.header {
  margin: auto; 
  color: #2CFF05;
  font-family: monospace;
  font-weight: lighter;
  font-size: 40px;
}

.body-header-style {
  margin-top: 20px;
  color: #2CFF05;
  font-family: monospace;
  font-size: 25px;
}

.input-style {
  background-color: #E6E6E6;
  color: rgb(97, 97, 97);
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 655px;
  text-wrap: wrap;
  height: 175px;
  font-size: 26px;
}

.submit-button {
  background: none;
  border: none;
  padding-left: 15px;
  cursor: pointer;
}

.result-header {
  color: #2CFF05;
  font-family: monospace;
  font-weight: lighter;
  font-size: 40px;
}

.result-text {
  color: white;
  font-family: monospace;
  text-align: left;
  margin-left: 20px;
  font-size: 28px;
}

.spam-text {
  color: red;
  font-family: monospace;
  display: inline;
  font-size: 28px;
}

.not-spam-text {
  color: #2CFF05;
  font-family: monospace;
  display: inline;
  font-size: 28px;
}

.result-box {
  width: 600px;
  margin: auto;
}

.confidence-circle {
  width: 120px;
  height: 120px;
  align-items: center;
  display: inline-block;
  margin-left: 90px;
}

.view-info-text {
  color: white;
  font-family: monospace;
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}